<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="table table-light">
  <thead>
    <tr>
      <th class="table-dark bg-primary">Title</th>
      <th class="table-dark bg-primary">Location</th>
      <th class="table-dark bg-primary">Start Time</th>
      <th class="table-dark bg-primary">End Time</th>
      <th class="table-dark bg-primary" colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.location %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'View Availabilities', view_event_path(event) %></td>
        <td><%= link_to 'Select Availabilities', select_event_path(event) %></td>
        <td><%= link_to 'Edit Event/Invite People', edit_event_path(event) %></td>
        <td><%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>


</table>

<br>


<div class="actions">
  <%= link_to 'Create a New Event', new_event_path, class: 'btn btn-primary' %>
</div>
