<p id="notice">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<% row_count = (@event.end_time.hour - @event.start_time.hour) * 4 %>
<% col_count = @event.end_time.mday - @event.start_time.mday + 1 %>
<% row = 0 %>
<% col = 0 %>
<% timeslots = [] %>

<table>
  <thead>
  </thead>
</table>

<div class="container">
  <% while row < row_count %>
    <div class="row border">
      <% while col < col_count %>
        <div class="col border">
         <%= slot = DateTime.new(@event.start_time.year, @event.start_time.month, @event.start_time.mday + col, @event.start_time.hour + (row / 4), @event.start_time.min + 15 * (row  % 4)) %>
        </div>
        <% col += 1 %>
      <% end %>
    </div>
    <% row += 1 %>
  <% end %>
</div>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
